<div style="overflow-y: scroll; height:300px;" scrollContainer="test">
    <h2>Give a name to scrollContainer</h2>
    <div style="background-color: coral; height:400px; width: 20%"></div>
    <div scrollClass style="background-color: aqua; height:200px; width: 20%" inScreenClassName="animated shake" [repeatAnimate]="true" containerName="test">Repeat: true</div>
    <div scrollClass style="background-color: red; height:200px; width: 20%" inScreenClassName="animated shake" [repeatAnimate]="false" containerName="test">Repeat: false</div>
</div>

<!-- <div style="overflow-y: scroll; height:300px;" scrollContainer>
        <h2>Not give a name to scrollContainer</h2>
        <div style="background-color: coral; height:400px; width: 20%"></div>
        <div scrollClass style="background-color: aqua; height:200px; width: 20%" inScreenClassName="animated shake" [repeatAnimate]="true" containerName="container">Repeat: true</div>
        <div scrollClass style="background-color: red; height:200px; width: 20%" inScreenClassName="animated shake" [repeatAnimate]="false" containerName="container">Repeat: false</div>
</div> -->